@model IEnumerable<Brokers.Models.brokers>

@{
    ViewBag.Title = "ListBrokers";
}

<h2>👔 Courtiers</h2>

<p>
    @Html.ActionLink("+", "AddBroker", "Brokers")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td class="actions">
                @Html.AntiForgeryToken()
                @Html.ActionLink("✎", "EditBroker", new { id = item.idBroker })
                @Html.ActionLink("🔎", "DetailsBroker", new { id = item.idBroker })
                @*@Html.ActionLink("✕", "DeleteBroker", new { id = item.idBroker })*@
                <button type="button" id="@item.idBroker" name="@item.lastname" data-open="modal1" class="suppressBtn">✖</button>
            </td>
        </tr>
    }
</table>

<div class="modal" id="modal1" data-animation="slideInOutLeft">
    <div class="modal-dialog">
        <header class="modal-header">
            Voulez-vous supprimer le courtier ?
            <button class="close-modal" aria-label="close modal" data-close>
                ✕
            </button>
        </header>
        @using (Html.BeginForm("DeleteBroker", "Brokers", FormMethod.Post))
        {
    <section class="modal-content">
        <p>Pour confirmer la suppression du courtier veuillez taper son nom de famille - <span id="cibleTexte"></span> - dans le champ suivant: </p>
        @Html.TextBox("inputBroker", "", new { placeholder = "nom de famille" })
        @Html.ActionLink("SUPPRIMER", "DeleteBroker", null, null, new { @class = "suppressBtn", id = "suppressButton" })
    </section>
        }
    </div>
</div>
