@model IEnumerable<Brokers.Models.appointments>
@{
    ViewBag.Title = "Index";
}
<section class="navbar">
    <div>
        <h2>AGENDA</h2>
    </div>
    <div><p>test</p></div>
</section>
<section class="navbar">
    <div>🕗 horaire @Html.ActionLink("✚", "AddAppointment", "Appointments")</div>
    <div>👔 courtier @Html.ActionLink("✚", "AddBroker", "Brokers") @Html.ActionLink("☰", "ListBrokers", "Brokers")</div>
    <div>👦 client @Html.ActionLink("✚", "AddClient", "Clients") @Html.ActionLink("☰", "ListClients", "Clients")</div>
</section>

@foreach (var item in Model)
{
<section class="rdv">
    <div class="navbar">
        <div>@Html.DisplayFor(modelItem => item.dateHour)</div>
        <div>
            <strong>@Html.DisplayFor(modelItem => item.brokers.lastname, "Courtier")</strong><br />
            @Html.DisplayFor(modelItem => item.brokers.firstname, "Courtier")
        </div>
        <div>
            <strong>@Html.DisplayFor(modelItem => item.customers.lastname, "Client")</strong><br />
            @Html.DisplayFor(modelItem => item.customers.firstname, "Client")
        </div>
    </div>
    <div>
        @Html.DisplayFor(modelItem => item.subject)
    </div>
        @Html.ActionLink("✎", "EditAppointment", "Appointments", new { id = item.idAppointments }, "null")
        @Html.ActionLink("🔎", "DetailsAppointment", "Appointments", new { id = item.idAppointments }, "null")
</section>
}
